body{
    max-width: 770px;
    margin: 0 auto;
 }
 .img{
  background-image: url("Hero-bg.png");
 }

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px,400px;
}
.button{
  background-color: #4E47FF;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: box;
  font-size: 16px;
  border-radius: 10px;
}


.hero-container{
    
    align-items: center;
    margin: 50px 150px 50px 200px;
    padding: 50px;
    color: #4E47FF;
    font-size: 1em;

}
.button1{
  background-color: #4E47FF;
  border: none;
  color: white;
  padding: 10px 32px;
  margin: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: box;
  font-size: 16px;
  border-radius: 10px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  color: blue;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*action section*/

.action{
  display: flex;
  justify-content: space-between;
}

 h4{

font-family: Georgia,'Times New Roman',serif;
font-style: light 300;
font-size: 15px;
font-weight: normal;

 }

.button2{
background-color: #4E47FF;
  border: none;
  color: white;
  padding: 10px 32px;
  margin: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: box;
  font-size: 16px;
  border-radius: 10px;
}
.action-image{
  border-radius: 10px;
  margin: 20px 10px 20px 40px;
  padding: 10px;

}

.section-title{
  font-size: 25px;
  font-weight: bold;
  color: black;
}

/*productive section*/
.productive{
  border-radius: 10px;
  background-color: aquamarine;
  padding: 40px 60px;
  text-align: center;
  margin-top: 40px;
}
.item-title{
  font-weight: bolder;
  font-size: 3em;
  margin: 30px 0px 120px 20px;
}
.item-data{
  
  font-size: 10px;
  margin: 80px 20px 30px 0px;
}
.productive-item
{
  display: flex;
  justify-content: space-around;

}
/*newsletter/*/
.touch{
  display: flex;
  justify-content: space-between;
  margin: 90px;
  
}
.touch-form{
  margin: 10px 20px 30px 40px;
}
.button{
  background-color: #4E47FF;
  
  color: white;
  padding: 20px 32px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: box;
  font-size: 16px;
  border-radius: 10px;
}
/*FOOTER*/
.footer-font{
  font-style: normal;
  font-size: 4em;
  font-weight: bolder;
  color: blue;
  font-style: normal;
  font-weight: bolder;    
 margin: 20px 10px 30px 150px;
}

.footer-clm{
 
  align-items: center;
    margin: 50px 50px 70px 100px;
    padding: 10px 80px;
    font-size: 1em;

}
.footer p{
  font-size: 10px;
  color: black;
}
.footer-a{
  display: flex;
  margin: 10px 70px 40px 120px;
 justify-content: space-around;
  align-items: center;
  text-decoration: none;

}
/*user's feedback section*/

.feedback{
  display: flex;
  justify-content: space-between;
}

.avater{
  display: flex;
  
}